<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
    <Appenders>
        <Console name="stdout">
            <PatternLayout>
                <pattern>%date{HH:mm:ss} %-5level %logger{0} - %msg%n</pattern>
            </PatternLayout>
        </Console>

        <Console name="stdout-behavior">
            <PatternLayout>
                <pattern>%date{HH:mm:ss} %-5level [%X{akkaSource}] - %msg%n</pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="rocks.heikoseeberger.akkluster" level="${sys:loglevel.akkluster:-info}" additivity="false">
            <AppenderRef ref="stdout"/>
        </Logger>
        <Logger name="akka.actor.typed.Behavior" level="${sys:loglevel.akkluster:-info}" additivity="false">
            <AppenderRef ref="stdout-behavior"/>
        </Logger>

        <Root level="${sys:loglevel.root:-error}">
            <AppenderRef ref="stdout"/>
        </Root>
    </Loggers>
</Configuration>
